.button-main {
  width: 80%;
  margin: 25px 10% 0 11%;
  background-color: green;
  text-align: center;
}
.button-main a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 2em;
  display: block;
}
.button-main a:hover {
  color: blue;
  text-decoration: none;
}
.button-main-alt a {
  color: #ffffff;
  text-decoration: none;
  line-height: 2.1em;
  display: block;
}
.button-main-alt a:hover {
  color: #cccccc;
  text-decoration: none;
}