.button-main {
  width: 80%;
  margin: 25px 10% 0 10%;
  background-color: #000000;
  text-align: center;
}
.button-main a {
  color: #ffffff;
  text-decoration: none;
  line-height: 2em;
  display: block;
}
.button-main a:hover {
  color: #cccccc;
  text-decoration: none;
}
.button-main-alt {
  width: 80%;
  margin: 15px 10%;
  background-color: #000000;
  text-align: center;
}
.button-main-alt a {
  color: #ffffff;
  text-decoration: none;
  line-height: 2.1em;
  display: block;
}
.button-main-alt a:hover {
  color: #cccccc;
  text-decoration: none;
}