/*Mobile*/
@media(max-width: 750px) {
    h1 {
    font-size: 2.0em;
    }
    h2 {
    font-size: 1.8em;
    }
    h3 {
    font-size: 1.6em;
    margin-top: 20px;
    }
    h4 {
    font-size: 1.5em;
    margin-top: 20px;
    }
    p {
    padding-right: 2%;
    padding-left: 2%;
    }
    .header {
    padding-bottom: 0;
    }
    .header-alt {
    background-color: purple;
    padding-bottom: 20px;
    }
    .head-title {
    display: none;
    }
    .head-title-alt {
    display: none;
    }
    .header_wrapper {
    height: 350px;
    }
    .logo-holder {
    position: absolute;
    width: 50%;
    text-align: left;
    top: 3px;
    left: 3px;
    }
    .logo-holder img.logo-1 {
    width: auto;
    max-height: 40px;
    }
    .slicknav_menu {
    display:block;
    padding: 5px 5px 10px 5px;
    }
    .slicknav_menu ul {
    padding-top: 12px;
    }
    .slicknav_menu ul li {
    text-align: center;
    }
    .slicknav_menu ul li a {
    line-height: 1.5em;
    font-size: 1.5em;
    }
    ul.nav li.mb-only {
    display: block;
    }
    .nav {
    display: none;
    }
    .mb-center {
    text-align: center;
    }
    .row {
    width: 100%;
    padding: 0;
    margin-top: 25px;
    background-color: #f1f1f1;
    }
    .row .content-holder-60 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    }
    .row .content-holder-40 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    }
    .row-alt {
    width: 100%;
    padding: 0;
    margin-top: 25px;
    background-color: #f1f1f1;
    }
    .row-alt .content-holder-60 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 0 2.5% 0;
    }
    .row-alt .content-holder-40 {
    float: left;
    width: 100%;
    margin: 25px 0 0;
    padding: 0 0 10px 0 ;
    }
    .row-alt .content-holder-50 {
    float: none;
    width: 100%;
    margin-left: 0;
    padding: 0%;
    min-height: auto;
    }
    .row .content-holder-100 h3 {
    margin-top: 25px;
    font-size: 1.5em;
    }
    .row .content-holder-100 p {
    padding-top: 7px;
    line-height: 1.3em;
    }
    .exhibition-list-individual-wrapper {
    margin: 15px 1%;
    }
    .exhibition-list-individual-wrapper h2 {
    font-size: 1.0em;
    font-weight: bold;
    }
    .exhibition-list-individual {
    border: 1px solid #666;
    padding: 1px;
    margin-bottom:5px; 
    }
    .exhibitior-press-release .exhibitior-main-img {
    width: 100%;
    margin-right: 0;
    }
    .footer-menu-holder {
    float: none;
    padding: 10px 0;
    width: 100%;
    }
    .footer-menu-holder.menu-spacer {
    margin-left: 0;
    }
    .footer-menu-holder h4 {
    border-bottom: none;
    text-align: center;
    }
    ul.footer-menu li {
    display: block;
    margin-left: 0;
    padding: 4px;
    width: 80%;
    margin: 3px auto 0 auto;
    background-color: #222;
    text-align: center;
    border: 1px solid #cccccc;
    }
    ul.footer-menu li a {
    color: #fff;
    font-size: 1.2em;
    }
    ul.footer-menu li a:hover {
    color: #ccc;
    }
    ul.footer-menu li a:after {
    display: none;
    }
    .footer-copyright-holder {
    float: none;
    text-align: center;
    width: 100%;
    }
    span.image-responsive-mobile {
        display: block;
    }
    span.image-responsive-narrow {
        display: none;
    }
    span.image-responsive-normal {
        display: none;
    }
    span.image-responsive-wide {
        display: none;
    }
    span.image-responsive-large {
        display: none;
    }
    .image-ie {
        display: none;
    }
}