/*Normal*/
@media(max-width: 1024px) {
    .logo-holder {
        width: 30%;
    }
    .nav {
        width: 60%;
    }
   .exhibitior-press-release .exhibitior-main-img {
    max-width: 500px;
    margin-right: 15px;
    }
    span.image-responsive-mobile {
        display: none;
    }
    span.image-responsive-narrow {
        display: none;
    }
    span.image-responsive-normal {
        display: block;
    }
    span.image-responsive-wide {
        display: none;
    }
    span.image-responsive-large {
        display: none;
    }
    .image-ie {
        display: none;
    }
}